.App {
  text-align: center;
  background-color: #aa1e1e;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  font-size: 100px;
  background-color: rgb(24, 71, 71);
  color: aliceblue;
}